#
# Run dockerized integration tests
#
name: Cheap Dockerized Integration Tests
on:
  workflow_dispatch:

jobs:
  docker-integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '24'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      # Rebuild everything
      - name: Run full clean & build
        run: ./gradlew clean build

      - name: Run docker integration tests
        run: ./gradlew dockerIntegrationTest

      - name: Upload integration test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: docker-integration-test-results
          path: |
            */build/reports/
            */build/test-results/

 