#
# Run standard integration tests (non-dockerized)
#
name: Cheap Integration Tests
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run tests against'
        required: true

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '24'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      # Rebuild everything
      - name: Run full clean & build
        run: ./gradlew clean build

      - name: Run integration tests
        run: ./gradlew integration-tests

      - name: Upload integration test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-results
          path: |
            */build/reports/
            */build/test-results/

 